html{
	position: relative;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

body{
     margin-bottom:80px;
}

.jumbotron {
	background: linear-gradient(90deg, rgb(24 88 13) 0%, rgb(39 171 22) 36%, rgba(255,248,0,1) 100%);
}


.jumbotron h1{
	color: #fff;
}

.jumbotron p{
	color: #fff;
	font-weight: 700;
}

.jumbotron img {
	width: 250px;

}

.col-sm-4 img {
	width: 400px;
}

hr{
	width: 200px;
	border-top: 3px solid rgb(59 218 32);
}


/*blink*/
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.blink {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}



.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


footer {
	position: absolute;
	background: linear-gradient(90deg, rgba(10,45,4,1) 0%, rgba(26,119,14,1) 36%, rgba(255,248,0,1) 100%);
	width: 100%;
        height: 80px;
}


footer p{
	padding: 25px;
	color: #fff;
}
